<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Edit book</title>
</head>
<body>
    <form accept-charset="UTF-8" th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
        <label for="title">Change book title: </label>
        <input id="title" type="text" th:field="*{title}">
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        <br>
        <label for="author">Change book author: </label>
        <input id="author" type="text" th:field="*{author}">
        <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        <br>
        <label for="year">Change book year of publishing: </label>
        <input id="year" type="text" th:field="*{year}">
        <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
        <br>
        <label for="description">Change book description: </label>
        <input id="description" type="text" th:field="*{description}">
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        <br>
        <input type="submit" value="Edit book">
    </form>
</body>
</html>