<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <form th:action="@{/books/search}" th:method="GET">
        <label for="search">Enter a book name: </label>
        <input type="text" id="search" name="input">
        <input type="submit" value="Search!">
    </form>

    <div th:unless="${books == null}">
        <ul>
            <li th:each="book : ${books}">
                <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book}"></a>
                <p th:if="${book.getOwner() == null}">Book is not taken by anyone</p>
                <p th:if="${book.getOwner() != null}">Book is taken by:
                    <a th:href="@{/people/{id}(id=${book.getOwner().getId()})}" th:text="${book.getOwner().getFullName()}"></a></p>
            </li>
        </ul>
    </div>
    <div th:if="${books != null && books.isEmpty()}">
        <p><strong>No books were found!</strong></p>
    </div>
</body>
</html>